{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto"
}
