<div class="min-h-screen flex flex-col">
  <!-- Navbar -->
  <share-navbar></share-navbar>

  <!-- Contenedor principal -->
  <mat-sidenav-container class="flex-grow">
    <!-- Sidebar -->
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="w-96"
      [class.w-20]="!isExpanded"
    >
      <shared-sidebar></shared-sidebar>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content class="p-6">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


