<div class="h-screen flex flex-col">
  <!-- Navbar -->
  <share-navbar></share-navbar>

  <!-- Contenedor principal -->
  <div class="flex-1 flex">
    <!-- Espacio reservado para el sidebar fijo -->
    <div 
      [ngClass]="{'w-96': isExpanded, 'w-16': !isExpanded}"
      class="transition-all duration-300 ease-in-out flex-shrink-0"
    >
      <!-- Sidebar fijo posicionado independientemente -->
      <shared-sidebar></shared-sidebar>
    </div>

    <!-- Contenido principal -->
    <div class="flex-1 p-6 h-full overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


