<mat-sidenav #sidenav mode="side" [opened]="isExpanded" class="pt-3 w-96 bg-blue-50 shadow-md">
  <mat-nav-list class="flex flex-col justify-between h-full">
    <div>
      <mat-accordion>
        <ng-container *ngFor="let menuItem of menuItems()">
          <mat-expansion-panel class="bg-blue-50 shadow-none px-4" hideToggle>
            <mat-expansion-panel-header class="bg-blue-50 hover:bg-blue-100 rounded-full">
              <mat-panel-title class="flex justify-start items-center gap-x-4">
                <mat-icon color="primary">{{ menuItem.icon }}</mat-icon>
                <span class="text-blue-900 font-normal">{{ menuItem.label }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-nav-list>
              <a
                mat-list-item
                *ngFor="let child of menuItem.children"
                [routerLink]="child.route"
                routerLinkActive="bg-blue-200"
                class="hover:bg-blue-100"
              >
                <div class="flex items-center gap-x-4">
                  <mat-icon color="primary">{{ child.icon }}</mat-icon>
                  <span class="text-blue-900">{{ child.label }}</span>
                </div>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </div>

    <div class="px-4">
      <a mat-list-item class="mb-4 hover:bg-red-50 transition-colors duration-200 group" (click)="onLogout()">
        <div class="flex items-center gap-x-4">
          <mat-icon class="text-red-600 group-hover:text-red-800">logout</mat-icon>
          <span class="text-red-600 group-hover:text-red-800">Cerrar Sesión</span>
        </div>
      </a>
      <mat-divider class="my-2 text-blue-600"></mat-divider>
      <div class="text-center">
        <span class="text-sm font-medium text-blue-600">PLATAFORMA DE GESTIÓN CLÍNICA test</span>
      </div>
    </div>
  </mat-nav-list>
</mat-sidenav>
